.label {
  @apply block text-12 font-extralight leading-2 tracking-[2.4px] mb-4 
  md:w-[222px] lg:w-[290px] lg:mb-6;
}

.label__mb0 {
  @apply block text-12 font-extralight leading-2 tracking-[2.4px] 
  md:w-[222px]  lg:w-[290px];
}

.label_checkbox {
  @apply text-12 font-extralight leading-2 flex gap-2 tracking-normal 
  md:leading-[1.83];
}

.input {
  @apply text-justify text-13 font-extralight leading-[1.85] w-full px-2
   bg-bgc-input placeholder:opacity-20 lg:py-[2px] lg:text-20 lg:leading-[1.2];
}

.input_phone {
  @apply text-justify text-13 font-extralight leading-[1.85] w-full px-2
   bg-bgc-input placeholder:opacity-20 lg:py-[2px] lg:text-20 lg:leading-[1.2];
}

.input_phone_code {
  @apply absolute top-1/2 left-0 text-justify text-13 font-extralight 
  leading-[1.85] pl-2 tracking-normal lg:text-20 lg:leading-[1.2];

  transform: translate(0, -51%);
}

.error {
  @apply absolute -bottom-6 right-0 flex items-center justify-end gap-1 
  text-12 font-extralight text-error tracking-[2.4px] leading-2;
}

.checkbox:focus + .custom_checkbox {
  @apply block w-[22px] h-[22px] outline outline-1 outline-outline;
}
