.section_bg {
  @apply relative md:pb-16 lg:pb-20;

  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('../../../public/bgImg/gallery.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
}
