@import "node_modules/modern-normalize/modern-normalize.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bgc50 text-primary font-normal text-18;
}

:focus {
  outline-color: #56dd61;
  outline-width: 1px;
  outline-style: solid;
}

.ui-container {
  @apply container xs:w-full xs:max-w-full sm:mx-auto sm:w-mob sm:max-w-full md:w-tab lg:w-desc;
}

@layer components {
  .ui-section {
    @apply py-14;
  }
}

@layer components {
  .ui-title {
    @apply text-40 font-thin leading-1.4 tracking-[-1.6px] uppercase pb-6;
  }
}

.ui-title-accent {
  @apply font-medium;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal-open {
  overflow: hidden;
}
