@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bgc50 text-primary;
}

.ui-container {
  @apply container md:mx-auto md:w-mob md:max-w-full lg:w-tab xl:w-desc;
}

/* .container {
  @apply px-5 
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-right: 100px;
    padding-left: 100px;
    width: 1280px;
  }
} */
